
.toolbar-center mat-icon {
  margin-right: 5px;
}

.toolbar-center button.mat-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}

.active-menu {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  border-radius: 4px;
}

.mat-badge-content {
  font-size: 0.7rem;
  height: 18px;
  min-width: 18px;
}

.toolbar-center button.mat-button:focus {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}
