/* 1. CORREÇÃO UNIVERSAL DO Z-INDEX */
/* Garante que o contêiner de todos os pop-ups (overlays) . */
.cdk-overlay-container {
  z-index: 9999 !important;
}

/* 2. CORREÇÃO DA COR DE FUNDO DOS ELEMENTOS FLUTUANTES */
/* Força o fundo branco para todos os painéis relevantes do Material */

/* Painel de seleção (mat-select) */
.mat-select-panel {
  background-color: white !important;
}

/* Painel de Menu (mat-menu)  */
.mat-menu-panel {
  background-color: white !important;
}

/* Painel do Datepicker (mat-datepicker) */
.mat-datepicker-popup .mat-datepicker-content {
  background-color: white !important;
}


.cdk-overlay-pane {
  background-color: white; /* Geralmente não precisa de !important aqui */
}

