
.cdk-overlay-container {
  z-index: 9999 !important;
}


/* Painel de seleção (mat-select) */
.mat-select-panel {
  background-color: white !important;
}

/* Painel de Menu (mat-menu)  */
.mat-menu-panel {
  background-color: white !important;
}

/* Painel do Datepicker (mat-datepicker) */
.mat-datepicker-popup .mat-datepicker-content {
  background-color: white !important;
}


.cdk-overlay-pane {
  background-color: white;
}

/* Aplica borda preta ao popup do MatDatepicker */
.mat-datepicker-content {
  border: 1px solid black;
  border-radius: 4px;
}


